*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5rem;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}
h1{
    font-weight: normal;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: x-large;
}
li:hover{
    cursor: pointer;
    color: red;
}
nav{
    width: 60vw;
    margin-top: 10px;
}
.bigImage{
    width: 95vw;
    margin: 1rem;
    margin-bottom: 4rem;
}
.container{
    display: flex;
    justify-content:space-evenly;
}
.container img{
    height: 100px;
    width: 100px;
}
.container>div{
    text-align: center;
}

.container>div>p{
    font-size: x-large;
    line-height: 1.5rem;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 4rem;
    font-size: x-large;
}
footer>p{
    padding:1rem;
}